.main {
  background-color: black;
}

/* sidebar */
.css-6qob1r {
  background: rgb(38, 39, 48);
}

h1, h2, h3, h5, p, ol, ul {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

footer.css-1q1n0ol.egzxvld0 {
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h5 {
  font-size: 15px;
  line-height: 0.8;
  padding-bottom: 50px;
}

p, ol {
  font-size: 15px;
  line-height: 1.5;
}

a, a:link, a:visited {
  color:aliceblue;
  text-decoration: underline;
}

img.robecca {
  padding-top: 10%;
  width: 20%;
}
