.main {
  background-color: black;
}

/* sidebar */
.css-6qob1r {
  background: rgb(38, 39, 48);
}

.css-1inwz65, .css-81oif8, .streamlit-expanderHeader {
  color: white;
}

h1, h2, h3, h5, p, ol, ul {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

header.css-18ni7ap.e8zbici2 {
  background-color: black;
}

footer.css-1q1n0ol.egzxvld0 {
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h5 {
  font-size: 15px;
  line-height: 1;
  padding-bottom: 50px;
}

p, ol {
  font-size: 15px;
  line-height: 1.5;
}

a, a:link, a:visited {
  color:aliceblue;
  text-decoration: underline;
}

img.robecca {
  padding-top: 10%;
  width: 20%;
}

ul.st-bv, .css-1t72r04, .css-uct3qm, .css-1xju8yy{
  background-color: dimgrey;
}

li.css-v83eag:hover {
  background-color: pink;
}


/* decade cloud picture size */
.css-1v0mbdj {
  max-width: 95%;
}
